.list_container {
  display: flex;
  justify-content: center;
}

.list {
  width: 60%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: rgba(189, 222, 175, 0.913);
}
.item:hover {
  background-color: #ebedf0;
}

.parag {
  margin: 0;
  color: #333;
  font-size: 26px;
  margin: 18px;
}
